<!-- <ion-header>
  <ion-toolbar [routerLink]="['/home']" style="--background: #7292cf;color: white;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Registration form</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar style="--background: #7292cf">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- <ion-grid id="buttons-grid">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">

        <ion-button (click)="hideForm(1)"  expand="block" style="--background: #7292cf;">
          <span >Login</span><br>
        </ion-button> 
        <ion-button (click)="hideForm1(1)" expand="block" disabled="false" style="--background: #7292cf;">
            <span >Register</span><br>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <form id="register"  style="margin-top: 10px; --ion-background-color :white; " [formGroup]="signupForm" (ngSubmit)="signup()">

    <div>
      <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
          <ion-label  position="floating" style="color: #7292cf;">ID number:</ion-label>
          <ion-input type="number" required formControlName="id_Number"  name="id_Number" value="id_Number" [(ngModel)]="id_Number"></ion-input>
        </ion-item>

        <div class="show-error">
          <div *ngIf="signupForm.get('id_Number').hasError('required') && signupForm.get('id_Number').dirty">Please enter
            ID number
          </div>
          <div *ngIf="signupForm.get('id_Number').hasError('pattern') && signupForm.get('id_Number').dirty">
            Please enter 8 digit ID number</div>
        </div>
      </ion-list>
    </div>
    
    
    <div>
      <ion-list>
        <ion-item  fill="outline" class="ion-no-padding">
                    <ion-label disabled="true"  position="floating" style="color: #7292cf;">Reference number</ion-label>
          <ion-input readonly type="text" required formControlName="ref_Nr" [(ngModel)]="ref_Nr" name="ref_Nr" value="ref_NR" ></ion-input>
        </ion-item> 
      </ion-list>
    </div>
   

<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-select style="color: #7292cf;" formControlName="title" placeholder="title" >
        <ion-select-option  value="Mr">Mr</ion-select-option>
        <ion-select-option  value="Mrs">Mrs</ion-select-option>
        <ion-select-option  value="Miss">Miss</ion-select-option>
        <ion-select-option  value="Miss">Doc</ion-select-option>
        <ion-select-option  value="Miss">Prof</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>
    
    
    <div>
      <ion-list>
        <ion-item  fill="outline" class="ion-no-padding">
          <ion-label  position="floating" style="color: #7292cf;">first Name</ion-label>
          <ion-input autocomplete="off" formControlName="displayName"  type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div>
   

    <div>
      <ion-list>
        <ion-item  fill="outline" class="ion-no-padding">
          <ion-label  position="floating" style="color: #7292cf;">last Name</ion-label>
          <ion-input autocomplete="off" formControlName="lastName"  type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  
  
    <div>
      <ion-list>
        <ion-item  fill="outline" class="ion-no-padding">
          <ion-label  position="floating" style="color: #7292cf;">Prefered name</ion-label>
          <ion-input type="text" required formControlName="nickName" ></ion-input>
        </ion-item> 
      </ion-list>
    </div>

    

    <div>
      <ion-list>
        <ion-item  fill="outline" class="ion-no-padding">
          <ion-label  position="floating" style="color: #7292cf;">Default Pickup</ion-label>
          <ion-input type="text" required formControlName="pick" ></ion-input>
        </ion-item> 
      </ion-list>
    </div>

    <div>
      <ion-list>
        <ion-item  fill="outline" class="ion-no-padding">
          <ion-label  position="floating" style="color: #7292cf;">Default dropoff</ion-label>
          <ion-input type="text" required formControlName="drop" ></ion-input>
        </ion-item> 
      </ion-list>
    </div>

  

<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Email</ion-label>
      <ion-input formControlName="email" type="email" [(ngModel)]="email"  placeholder="Email" ></ion-input>
    </ion-item>
    <div class="show-error">
      <div *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').dirty">Please enter email id
      </div>
      <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').dirty">
        Please enter valid email id</div>
    </div>
  </ion-list>
</div>

<!-- <div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Password</ion-label>
      <ion-input readonly autocomplete="off" formControlName="password" type="number"  placeholder="Password"  name="password" value="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
</div> -->

<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Phone Number</ion-label>
      <ion-input autocomplete="off" formControlName="phoneNumber" type="tel" ></ion-input>
    </ion-item>
    <div class="show-error">
      <div *ngIf="signupForm.get('phoneNumber').hasError('required') && signupForm.get('phoneNumber').dirty">Please enter
        mobile number
      </div>
      <div *ngIf="signupForm.get('phoneNumber').hasError('pattern') && signupForm.get('phoneNumber').dirty">
        Please enter 10 digit mobile number</div>
    </div>
  </ion-list>
</div>

<div>
  <ion-list>
    <ion-list-header>
      <ion-label>Payment method</ion-label>
    </ion-list-header>
    <ion-radio-group value="paymentMethod" formControlName="paymentMethod" name="paymentMethod">
     
      <ion-item>
        <ion-label>card</ion-label>
        <ion-radio type="radio" (click)="hide(0)"  slot="start" name="card" value="card"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>cash</ion-label>
        <ion-radio type="radio" checked="true" (click)="hide(1)" checked name="card" slot="start" value="cash" ></ion-radio>
      </ion-item>
    </ion-radio-group>
    
  </ion-list>
</div>

<!-- <div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-select formControlName="sh" placeholder="payment method" >
        <ion-select-option (click)="hide(0)" value="visa" name="card" value="card">card</ion-select-option >
        <ion-select-option (click)="hide(1)" checked value="masterCard"  name="card" value="cash" >cash</ion-select-option >
      </ion-select>
    </ion-item>
  </ion-list>
</div> -->

 

<div id="mycode">

<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-select formControlName="cardType" placeholder="Credit Card type" >
        <ion-select-option value="visa">VISA</ion-select-option >
        <ion-select-option  value="masterCard">Master Card</ion-select-option >
      </ion-select>
    </ion-item>
  </ion-list>
</div>

<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Credit Card Name</ion-label>
      <ion-input type="text" formControlName="cardName"  ></ion-input>
    </ion-item>
  </ion-list>
</div>


<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Credit Card number</ion-label>
      <ion-input type="number" formControlName="cardNumber"  ></ion-input>
    </ion-item>

    <div class="show-error">
      <div *ngIf="signupForm.get('cardNumber').hasError('required') && signupForm.get('cardNumber').dirty">Please enter
        Card number
      </div>
      <div *ngIf="signupForm.get('cardNumber').hasError('pattern') && signupForm.get('cardNumber').dirty">
        Please enter 10 digit card number</div>
    </div>
  </ion-list>
</div>


<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
    <ion-label  position="floating" style="color: #7292cf;">CVV number</ion-label>
    <ion-input min="0" max="3" type="number"   formControlName="cvv"  ></ion-input>
  </ion-item>
  <div class="show-error">
    <div *ngIf="signupForm.get('cvv').hasError('required') && signupForm.get('cvv').dirty">Please enter
      CVV number
    </div>
    <div *ngIf="signupForm.get('cvv').hasError('pattern') && signupForm.get('cvv').dirty">
      Please enter 3 digit CVV number</div>
  </div>
  </ion-list>
</div>


<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Expiry date</ion-label>
      <ion-input type="date" placeholder="Expiry date" formControlName="expiryDate"></ion-input>
    </ion-item>
  </ion-list>
</div>

</div>

<div>
  <ion-list>
    <ion-item  >
      <ion-label style="color: #7292cf;">Terms and Conditions </ion-label><br>
      <ion-select formControlName="terms" placeholder="Read T`s and C`s" [multiple]="false" >
        <ion-select-option  value="accept">Accept</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>

<div>
  <ion-list>
    <ion-item  fill="outline" class="ion-no-padding">
      <ion-label  position="floating" style="color: #7292cf;">Privacy policy</ion-label>
      <ion-input readonly autocomplete="off" formControlName="policy" type="text"  placeholder="policy"  name="policy" value="policy" [(ngModel)]="policy"></ion-input>
    </ion-item>
  </ion-list>
</div>


<ion-list>
  <ion-item >
    <ion-label>I confirm that i have read,<br> consent and agree <br> too All Deliveries User Agreement <br> and privacy policy</ion-label>
    <ion-checkbox  slot="end" formControlName="privacy" [(ngModel)]="checkBox.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>


<ion-button
  
    type="submit"
    style="--background: #7292cf;"
    expand="block"
  >
   Signup
  </ion-button>

    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
        <span>{{ firebaseErrorMessage }}</span>
    </div>
    <br>
    
  </form>

  <!-- <button  fill="outline" style="background:#7292cf; width: 100%; color: white; border-radius: 5px; height: 40px;">Signup</button> -->


  <p class="go-to-login" style="color: #7292cf;">Already have an account?
     <a style="width: 100%; --background: #7292cf;" [routerLink]="'/client-login'" >Login</a>
  </p>
</ion-content>