<ion-header>
  <ion-toolbar style="--background: gray">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content style="margin-bottom: 30px">
    <ion-item style="margin-top: 50px">
      <p>Enter email to send password reset instructions.</p>
    </ion-item>
    <form style="margin-bottom: 30px">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="plum"
            (click)="authService.PasswordRecover(email.value)"
            fill="outline"
            expand="block"
          >
            Send Password Reset Mail
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>