<ion-header>
  <ion-toolbar style="--background: #7292cf">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
  <ion-grid>
    <ion-row class="ion-align-self-end" >
      <!-- <h2 style="text-align: center; margin-left: 20px;">verfiy</h2> -->
      <p style="text-align: center; margin-top: 50px; color:#7292cf;" >
        Please check your email and click on the link to verfiy your email address.
      </p>


      <!-- <div>
        <ion-button   type="submit" style=" --background:#7292cf; text-align: center ; margin-left: 50px; margin-top: 30px; " (click)="authService.SendVerificationMail()"  >
          Resend Verification 
        </ion-button>
        <ion-button 
         type="submit" style=" text-align: center ; margin-left: 50px; margin-top: 30px; --background: #7292cf; " [routerLink]="'/client-login'"  >
          Login
        </ion-button>
      </div>
    -->
      <ion-grid id="buttons-grid">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">

            <ion-button (click)="authService.SendVerificationMail()"  expand="block" style="--background: #7292cf;">
              <span >Resend Verification</span><br>
            </ion-button> <br><br>
            <ion-button (click)="login()" expand="block" disabled="false" style="--background: #7292cf;">
                <span  >login</span><br>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-row>
  </ion-grid>
</ion-content>
