<ion-header>
  <ion-toolbar style="--background: #7292cf">
    <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-item lines="full" style="margin-top: 30px;">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" #email required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button style="margin-top: 40px; --background: #7292cf;" type="submit" (click)="logIn(email, password)" expand="block"
        >Login</ion-button
      >
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        style="--background: #7292cf;"
        expand="block"
        [routerLink]="['/client-register']"
      >
        Register Account
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <a
      style="color: #7292cf;"
      fill="outline"
        expand="block"
        color="warning"
        [routerLink]="['/password-reset']"
      >
        Password Reset
    </a>
    </ion-col>
  </ion-row>

</ion-content>