<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <div style="background: #2855ae; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
            <ion-list-header >{{ (user | async)?.displayName }}</ion-list-header><br>
            <ion-note>{{ (user | async)?.phoneNumber }}</ion-note>
  <hr>
          </div>
         
          <ion-menu-toggle auto-hide="false" >
            <ion-list [routerLink]="['/folder']" id="labels-list">
              <ion-icon name="map-outline"></ion-icon> Map
             </ion-list>
            <ion-list [routerLink]="['/capture-package']" id="labels-list">
              <ion-icon name="car-sport-outline" ></ion-icon> Request Delivery
             </ion-list>
            <!-- <ion-list id="labels-list">
              <ion-icon name="flag-outline"></ion-icon> Set Destination
            </ion-list> -->
            <ion-list id="labels-list">
              <ion-icon name="card-outline"></ion-icon> Payment method
            </ion-list>
            <ion-list [routerLink]="['/show-profile']" id="labels-list">
              <ion-icon name="person-outline" ></ion-icon> View Profile
            </ion-list>
            <ion-list [routerLink]="['/rating-system']" id="labels-list">
              <ion-icon name="star-half-outline" ></ion-icon> Rate driver
            </ion-list>

          </ion-menu-toggle>
        </ion-list>

        <ion-list [routerLink]="['/client-login']" id="labels-list">
         <ion-icon name="log-out-outline"></ion-icon> Logout
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
