<ion-header>
  <ion-toolbar style="--background: gray">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <h3></h3>
  </ion-text>

  <ion-text color="light">
    <h3>Thank you for registering on the Delivery App. We are busy
      processing your application and we will contact you shortly to let you know if
      you can start with deliveries</h3>
  </ion-text>
  <!-- <ion-item lines="full" style="margin-top: 30px;">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #mail required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" #pass required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button style="margin-top: 40px; --background: #6f2da8;" type="submit" (click)="logIn(mail, pass)" expand="block"
        >Login</ion-button
      >
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        style="--background: #6f2da8;"
        expand="block"
        [routerLink]="['/client-register']"
      >
        Register Account
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <a
      fill="outline"
        expand="block"
        color="warning"
        [routerLink]="['/password-reset']"
      >
        Password Reset
    </a>
    </ion-col>
  </ion-row> -->

</ion-content>