




<ion-content>
  <div style="margin-top: -30px; margin-left: 10px;">
    <ion-buttons style="position: absolute; margin-top:28px ;" slot="start" >
      <ion-menu-button   style="color: white; " ></ion-menu-button>
    </ion-buttons>
  
  </div>

<br>
 


        <div class="top">
           <div class="nameText">
              <p>Hi <span>{{ (user | async)?.displayName }}</span>  </p>
               <h6>Welcome to All Deliveries</h6>
             <small (click)=" capturepackage()">Request Delivery</small> 
          </div>
          <div class="imageTHumbnail">
              <img src="assets/img/images.jfif" alt="Profile Image">
          </div>
       </div>

<div class="middleBox">
  <div class="firstDiv">
<img class="firstImg" src="/assets/img/time-travel-icon-11.jpg"/>
<p class="firstP">History</p>
<h6 class="firstH6"> History</h6>
  </div>
  <div class="secondDiv">
<img class="secondImg" src="/assets/img/click-cursor-request-icon-outline-style-click-cursor-request-icon-outline-click-cursor-request-vector-icon-web-design-isolated-163037385.jpg"/>
<p class="secondP"> Request</p>
<h6 class="secondH6">3</h6>
  </div>
</div>
       <div class="bottomDiv">
       

       </div>

  <!-- <ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item (click)="authService.SignOut()" [button]="true" [detail]="false">Logout</ion-item>
        <ion-item [button]="true" [detail]="false">Option 2</ion-item>
          <ion-item [button]="true" id="nested-trigger">More options...</ion-item>
   
          <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <div *ngIf="(user | async)"></div>
          <h3>Hello User {{ (user | async)?.displayName }} </h3> <p>{{ (user | async)?.lastName }}</p>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Sign In</ion-button
        > 
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>